/* IMPORTAR ICONES DO BOOTSTRAP*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* REINICIAR PADDING E MARGIN */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* DEINIFIR COR DE BACKGROUND E FONT */ 
:root {
  --background: #16243a; 
  --font:#fff;
}
/* BODY E CONTAINER */
body{
  font-family: Helvetica, sans-serif;
  color: var(--font);
}
.container{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 5.5em 1fr / 1fr;
}
/* HEADER */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#111;
  padding: 1em;
}
.logo{
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 2em;
}
.logo h1{
  font: bold 30pt Helvetica;
}
/* MAIN */
main{
  background-color: var(--background); 
}
/* SELETOR DE CORES */
.SeletorCor{
  display: flex;
  font-size: small;
  flex-direction: column;
  align-items: center;
}
#seletor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
#seletor::-webkit-color-swatch {
  border-radius: 50%;
  border: 2.5px solid #ffffff;
}
#seletor::-moz-color-swatch {
  border-radius: 50%;
  border: 2.5px solid #ffffff;
}